body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track:hover {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  visibility: hidden;
  border-radius: 10px;
  background-color: #bbbbbb;
}

.contacts {
  width: 33vw;
  border-right: 1px solid #bbbbbb;
}

.contacts__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__header .contacts__search {
  border: 2px solid #e6e6fa;
  border-radius: 4px;
  padding: 4px 10px;
  width: 90%;
  margin-bottom: 4px;
  background-color: #e6e6fa;
}

.contacts__header .contacts__search:focus {
  outline: none;
  border: 2px solid #0095b6;
}

.contacts__header .contacts__burger {
  color: #bbbbbb;
}

.contacts__header .contacts__burger:hover {
  cursor: pointer;
  color: #000;
}

.contacts .records {
  overflow-y: scroll;
  height: 94.4vh;
}

.contacts .records:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.record {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.record:hover {
  cursor: pointer;
  background-color: #e6e6fa;
}

.record__image {
  width: 30px;
  border-radius: 100%;
  background-color: violet;
  color: #fff;
  padding: 10px;
  margin-left: 10px;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
}

.record__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 7px;
  width: 90%;
}

.record__channel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 10px;
}

.record__channel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.record .group-icon {
  font-size: 16px;
  margin-right: 7px;
}

.record__channel-name {
  font-weight: 600;
}

.record__last-massage-time {
  font-weight: 100;
  color: #bbbbbb;
}

.record__last-massage-text {
  font-weight: 100;
  color: #bbbbbb;
}

.record__last-massage-autor {
  color: #0080ff;
}

.record--type_active {
  background-color: #1e90ff;
}

.record--type_active:hover {
  background-color: #1e90ff;
}

.record--type_active .group-icon {
  color: #fff;
}

.record--type_active .record__channel-name {
  color: #fff;
}

.record--type_active .record__last-massage-time {
  color: #fff;
}

.record--type_active .record__last-massage-text {
  color: #fff;
}

.record--type_active .record__last-massage-autor {
  color: #fff;
}

.massages {
  width: 67vw;
}

.massages__chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: 89%;
  padding-left: 10px;
  background-image: url(../image/paper-airplanes.jpg);
  background-size: cover;
  overflow-y: scroll;
}

.massages__chat:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.massages__toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 5px 5px;
  border-top: 1px solid #bbbbbb;
}

.massages__attachment {
  color: #bbbbbb;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-left: 7px;
  font-size: 30px;
}

.massages__attachment:hover {
  cursor: pointer;
  color: #000;
}

.massages__input {
  width: 85%;
  border: none;
}

.massages__input:focus {
  outline: none;
}

.massages__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #bbbbbb;
}

.massages__icons:hover {
  cursor: pointer;
}

.massages__icon {
  font-size: 30px;
}

.massages__icon:hover {
  cursor: pointer;
  color: #000;
}

.massages__icon:last-of-type:active {
  background-color: #71a3ff71;
  border-radius: 100%;
  color: #71a3ff;
}

.massages__chat-data {
  padding: 2px 5px;
  margin: 10px 17%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: inline-block;
  width: 60px;
  text-align: center;
  color: #fff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 67vw;
  border-bottom: 1px solid #bbbbbb;
}

.header__chanel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 10px;
}

.header__chanel-info .header__chanel-name {
  font-size: 14px;
  font-weight: 600;
}

.header__chanel-info .header__members {
  font-size: 12px;
  margin-top: 5px;
  color: #bbbbbb;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 100px;
}

.header__icons:hover {
  cursor: pointer;
}

.header .header__icon {
  margin-left: 10px;
  color: #bbbbbb;
}

.header .header__icon:hover {
  cursor: pointer;
  color: #000;
}

.massage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  font-size: 14px;
}

.massage__image {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  padding-top: 12px;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  text-align: center;
  color: #fff;
}

.massage__image:hover {
  cursor: pointer;
}

.massage__text-area {
  background-color: #fff;
  border-radius: 7px;
  padding: 5px 10px;
  margin-bottom: 2px;
  max-width: 35%;
}

.massage__text-area:hover .massage__reply {
  display: block;
}

.massage__text-area--type_myself {
  background-color: #ceffae;
}

.massage__text-area--type_myself .massage__second-line .massage__time {
  color: #00ca1b;
  position: relative;
}

.massage__text-area--type_myself .massage__second-line .massage__time-icon {
  display: inline;
  position: relative;
  bottom: -5px;
  margin-left: 10px;
  font-size: 20px;
}

.massage__first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.massage__first-line .massage__autor {
  font-weight: 600;
}

.massage__first-line .massage__autor:hover {
  cursor: pointer;
}

.massage__first-line .massage__reply {
  font-size: 12px;
  display: none;
  color: #bbbbbb;
}

.massage__first-line .massage__reply:hover {
  text-decoration: underline;
  cursor: pointer;
}

.massage__second-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.massage__second-line .massage__text {
  margin-bottom: 5px;
  width: 100%;
}

.massage__second-line .massage__time {
  font-size: 12px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 10px;
  color: #bbbbbb;
}

.massage--color_violet .massage__image {
  background-color: violet;
}

.massage--color_violet .massage__first-line .massage__autor {
  color: violet;
}

.massage--color_green .massage__image {
  background-color: #51d651;
}

.massage--color_green .massage__first-line .massage__autor {
  color: #51d651;
}

.massage--color_blue .massage__image {
  background-color: #00aeff;
}

.massage--color_blue .massage__first-line .massage__autor {
  color: #00aeff;
}
/*# sourceMappingURL=style.css.map */