$main-color: #bbbbbb;

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.page {
    display: flex;
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #e6e6fa;
}

::-webkit-scrollbar-thumb:hover {
    border: 1px solid $main-color;
}

::-webkit-scrollbar-thumb {
    background-color: $main-color;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}


.contacts {
    width: 33vw;
    border-right: 1px solid $main-color;

    &__header {
        display: flex;
        box-sizing: content-box;
        margin: 10px;
        justify-content: space-between;
        align-items: center;

        .contacts__search {
            border: 2px solid #e6e6fa;
            border-radius: 4px;
            padding: 4px 10px;
            width: 90%;
            margin-bottom: 4px;
            background-color: #e6e6fa;

            &:focus {
                outline: none;
                border: 2px solid #0095b6;
            }
        }

        .contacts__burger {
            color: $main-color;

            &:hover {
                cursor: pointer;
                color: #000;
            }
        }
    }

    .records {
        overflow-y: scroll;
        height: 92%;
    }
}

.record {
    padding: 10px 0;
    display: flex;
    font-size: 14px;

    &:hover {
        cursor: pointer;
        background-color: #e6e6fa;
    }

    &__image {
        border-radius: 100%;
        margin-left: 10px;
        font-size: 50px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 7px;
        width: 90%;
    }

    &__channel {
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
    }

    &__channel-info {
        display: flex;
    }

    .group-icon {
        font-size: 16px;
        margin-right: 7px;
    }

    &__channel-name {
        font-weight: 600;
    }

    &__last-massage-time {
        font-weight: 100;
        color: $main-color;
    }

    &__last-massage-text {
        font-weight: 100;
        color: $main-color;
    }

    &__last-massage-autor {
        color: #0080ff;
    }
}

.record--type_active {
    background-color: #1e90ff;

    &:hover {
        background-color: #1e90ff;
    }

    .group-icon {
        color: #fff;
    }

    .record__channel-name {
        color: #fff;
    }

    .record__last-massage-time {
        color: #fff;
    }

    .record__last-massage-text {
        color: #fff;
    }

    .record__last-massage-autor {
        color: #fff;
    }
}

.massages {
    width: 67vw;

    &__chat {
        display: flex;
        flex-direction: column-reverse;
        height: 89%;
        padding-left: 10px;
        background-image: url(../image/paper-airplanes.jpg);
        background-size: cover;
        overflow-y: scroll;
        
    }

    &__toolbar {
        display: flex;
        justify-content: space-between;
        padding: 10px 5px 5px;
        border-top: 1px solid $main-color;
    }

    &__attachment {
        color: $main-color;

        &:hover {
            cursor: pointer;
            color: #000;
        }
    }

    &__input {
        width: 85%;
        border: none;

        &:focus {
            outline: none;
        }
    }

    &__icons {
        display: flex;
        width: 120px;
        justify-content: space-around;
        color: $main-color;

        &:hover {
            cursor: pointer;
        }
    }

    &__icon {
        font-size: 30px;
        &:hover {
            cursor: pointer;
            color: #000;
        }
    }

    &__icon:last-of-type {
        &:active {
            background-color: #71a3ff71;
            border-radius: 100%;
            color: #71a3ff;
        }
    }

    &__chat-data {
        padding: 2px 5px;
        margin: 10px 17%;
        background-color: rgba(0,0,0,.2);
        border-radius: 10px;
        display: inline-block;
        width: 60px;
        text-align: center;
        color: #fff;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    width: 67vw;
    border-bottom: 1px solid $main-color;

    &__chanel-info {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 10px 10px;

        .header__chanel-name {
            font-size: 14px;
            font-weight: 600;
        }

        .header__members {
            font-size: 12px;
            margin-top: 5px;
            color: $main-color;
        }
    }

    &__icons {
        display: flex;
        align-items: center;
        padding: 10px;
        width: 100px;

        &:hover {
            cursor: pointer;
        }
    }

    .header__icon {
        margin-left: 10px;
        color: $main-color;

        &:hover {
            cursor: pointer;
            color: #000;
        }
    }
}

.massage {
    display: flex;
    padding: 5px 0;
    font-size: 14px;
    max-width: 35%;

    &__image {
        font-size: 42px;
        margin-right: 5px;
        align-self: flex-end;

        &:hover {
            cursor: pointer;
        }
    }

    &__text-area {
        background-color: #fff;
        border-radius: 7px;
        padding: 5px 10px;
        margin-bottom: 2px;

        &:hover .massage__reply {
            display: block;
        }
    }

    &__text-area--type_myself {
        background-color: #ceffae;

        .massage__second-line {
            .massage__time {
                color: #00ca1b;
                position: relative;

                &-icon {
                    display: inline;
                    position: relative;
                    bottom: -5px;
                    margin-left: 10px;
                    font-size: 20px;
                }
            }
        }
    }
    
    &__first-line {
        display: flex;
        justify-content: space-between;

        .massage__autor {
            font-weight: 600;
            color: violet;
    
            &:hover {
                cursor: pointer;
            }
        }

        .massage__reply {
            font-size: 12px;
            display: none;
            color: $main-color;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    &__second-line {
        display: flex;
        margin-top: 5px;

        .massage__text {
            margin-bottom: 5px;
            width: 100%;
        }

        .massage__time {
            font-size: 12px;
            align-self: flex-end;
            margin-left: 10px;
            color: $main-color;
        }
    }
}